* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hex__container {
    text-align: center;
}

.hex__code {
    display: block;
    color: #ffffff;
    margin: 4rem 0;
    font-size: 3rem;
}

.clickMe {
    background-color: #ccc;
    padding: 1rem;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .5 ease-in-out;
    border-radius: 2px;
}

.clickMe:hover {
    background-color: #fff;
}